<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>LIGTAS</ion-title>
    <ion-img alt="logo" id="header_logo" height="40" margin-left="20" src="assets/images/logo.png"></ion-img>
    <ion-buttons slot="start">
      <ion-back-button text="Previous" icon="caret-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">Landslide</ion-card-title>
    </ion-card-header>
   
    <ion-card-content>
      <p>
        Landslides are caused by disturbances in the natural stability of a slope.
         They can accompany heavy rains or follow droughts, earthquakes, or volcanic eruptions.
         Landslides occur when masses of rock, earth, or debris move down a slope. Debris flows, 
         also known as mudslides, are a common type of fast-moving landslide that tends to flow in channels.
    </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">Prepare Before a Landslide</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        - Assume that steep slopes and areas burned by wildfires are vulnerable to landslides and debris flows.
    </p>
    <p>
      - Learn whether landslides or debris flows have occurred previously in your 
      area by contacting local authorities, a county geologist or the county planning
       department, state geological surveys or departments of natural resources, or university departments of geology.
    </p> 
    <p>
      - Contact local authorities about emergency and evacuation plans.
    </p>
    <p>
      - Develop emergency and evacuation plans for your family and business.
    </p>
    <p>
      - Develop an emergency communication plan in case family members are separated.
    </p>
    <p>
      - If you live in an area vulnerable to landslides, consider leaving it.
    </p>
    
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color ="success">During Intense Storms and Rainfalls.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        - Listen to the radio or watch TV for warnings about intense rainfall or for information and instructions from local officials.
      </p>
      <p>
        - Look for tilted trees, telephone poles, fences, or walls, and for new holes or bare spots on hillsides.
      </p>
        <p>
          - Listen for rumbling sounds that might indicate an approaching landslide or mudflow.
        </p>
        <p>
          - Be alert when driving. Roads may become blocked or closed due to collapsed pavement or debris.
        </p>
        <p>
          - If landslide or debris flow danger is imminent, quickly move away from the path of the slide. 
          Getting out of the path of a debris flow is your best protection. Move to the nearest high 
          ground in a direction away from the path. If rocks and debris are approaching, run for 
          the nearest shelter and take cover (if possible, under a desk, table, or other piece of sturdy furniture).
        </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color ="success">After a Landslide or Debris Flow</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <p>
      - Stay away from the site. Flooding or additional slides may occur after a landslide or mudflow.
    </p>
    <p>
      - Check for injured or trapped people near the affected area, if it is possible to do so without 
      entering the path of the landslide or mudflow.
    </p>
    <p>
      - Listen to the radio or TV for emergency information.
    </p>
    <p>
      - Report broken utility lines to the appropriate authorities.
    </p>
    <p>
      - Consult a geotechnical expert (a registered professional engineer with soils engineering expertise)
       for advice on reducing additional landslide problems and risks. Local authorities should be
        able to tell you how to contact a geotechnical expert.
    </p>
