ion-img{
    width: 15%;
    margin-left: 56%;
}

ion-title{
    margin-left: -45px;
}

ion-col {
    background-color: #2dd36f;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
  }
  
 ion-grid{
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
 } 
  h1{
    color: #2dd36f;
    margin-left: 3%;
  }

  h2{
    color: #2dd36f;
    margin-left: 3%;
  }