<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>LIGTAS</ion-title>
    <ion-img alt="logo" id="header_logo" height="40" margin-left="20" src="assets/images/logo.png"></ion-img>
    <ion-buttons slot="start">
      <ion-back-button text="Previous" icon="caret-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">Volcanic Hazard</ion-card-title>
    </ion-card-header>
   
    <ion-card-content>
      <p>
        A volcanic hazard refers to any potentially dangerous volcanic process that puts human lives,
        livelihoods or infrastructure at risk of harm. Several hazards may affect the area around
         the volcano, such as lava flows, pyroclastic flows, lahars, jökulhlaups and landslides or 
         debris avalanches. Volcanic activity also produces hazards that can affect areas far from the 
         volcano, such as tephra or ash falls, releases of gas and tsunamis. Such hazards can impact
          areas hundreds or thousands of kilometres from the volcano, with the potential for significant 
          health and economic impacts.
    </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">Preparing for a Volcanic Eruption</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        You can do many things to protect yourself and your family from the dangers a volcanic eruption
         can cause. The best way to protect yourself and your family is to follow the advice of 
         local officials. Local authorities will give you information on how to prepare for a volcanic
         eruption, and if necessary, on how to evacuate (leave the area) or take shelter where you are.<br><br>
    </p>
    <b>How to Prepare</b>
    <p>
      Be prepared either to shelter or to evacuate. Develop an evacuation plan and a sheltering plan for 
      yourself, your family, and others in your household. Review the plans and make sure that everyone 
      understands them. If you haven’t already done so, put together an emergency supply kitexternal icon. 
      Supplies should include the following:<br><br>

      - Photo of emergency supplies.<br>
      - Flashlight and extra batteries<br>
      - First aid kit and manual<br>
      - Emergency food and water<br>
      - Manual (nonelectric) can opener<br>
      - Essential medicines<br>
      - Sturdy shoes<br>
      - Respiratory (breathing) protection<br>
      - Eye protection (goggles)<br>
      - Battery-powered radioFind two ways to get out of each room in the event the primary way is blocked by fire or smoke.<br><br>
    </p> 
    <b>If you are told to Evacuate</b>
    <p>
      Follow authorities’ instructions if they tell you to leave the area. Though it may seem safe to stay 
      at home and wait out an eruption, doing so could be very dangerous. Volcanoes spew hot, dangerous 
      gases, ash, lava, and rock that are powerfully destructive.<br><br>

      - Tune in the radio or television for volcano updates.<br>
      - Listen for disaster sirens and warning signals.<br>
      - Review your emergency plan and gather your emergency supplies. Be sure to pack at least a 1-week supply of prescription medications.<br>
      - Prepare an emergency kit for your vehicle with food, flares, booster cables, maps, tools, a first aid kit, a fire extinguisher, sleeping bags, a flashlight, batteries, etc.<br>
      - Fill your vehicle’s gas tank.<br>
      - If no vehicle is available, make arrangements with friends or family for transportation, or follow authorities’ instructions on where to obtain transportation.<br>
      - Place vehicles under cover, if at all possible.<br>
      - Put livestock in an enclosed area. Plan ahead to take pets with you, but be aware that many emergency shelters cannot accept animals.<br>
      - Fill your clean water containers.<br>
      - Fill sinks and bathtubs with water as an extra supply for washing.<br>
      - Adjust the thermostat on refrigerators and freezers to the coolest possible temperature. If the power goes out, food will stay cooler longer.<br><br>
    </p>
    <b>As you Evacuate</b>
    <p>
      - Take only essential items with you, including at least a 1-week supply of prescription medications.<br>
      - If you have time, turn off the gas, electricity, and water.<br>
      - Disconnect appliances to reduce the likelihood of electrical shock when power is restored.<br>
      - Make sure your automobile’s emergency kit is ready.<br>
      - Follow designated evacuation routes—others may be blocked—and expect heavy traffic and delays.<br><br>
    </p>
    <b>If you are told to take shelter where you are</b>
    <p>
      - Keep listening to your radio or television until you are told all is safe or you are told to evacuate. Local authorities may evacuate specific areas at greatest risk in your community.<br>
      - Close and lock all windows and outside doors.<br>
      - Turn off all heating and air conditioning systems and fans.<br>
      - Close the fireplace damper.<br>
      - Organize your emergency supplies and make sure household members know where the supplies are.<br>
      - Make sure the radio is working.<br>
      - Go to an interior room without windows that is above ground level.<br>
      - Bring your pets with you, and be sure to bring additional food and water supplies for them.<br>
      - It is ideal to have a hard-wired (non-portable) telephone in the room you select. Call your emergency contact—a friend or family member who does not live near the volcano—and have the phone available if you need to report a life-threatening condition. Remember that telephone equipment may be overwhelmed or damaged during an emergency.<br>
    </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color ="success">During a Volcanic Eruption</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <b>If a lahar, pyroclastic flow, or lava flow is headed toward you</b>
      <p>
        - Leave the area immediately. If you are warned to evacuate because an eruption is imminent, evacuate.
      </p>
      <p>
        - If you can drive rather than walk, use your vehicle to evacuate. When driving keep doors and windows closed, drive across the path of danger if you can or away from the danger if you can not, and watch for unusual hazards in the road.
      </p>
      <b>If you are indoors</b>
      <p>- Close all windows, doors, and fireplace or woodstove dampers.</p>
      <p>- Turn off all fans and heating and air conditioning systems.</p> 
      <p>- Bring pets and livestock into closed shelters.</p>    
      <b>If you are outdoors</b>  
      <p>- Seek shelter indoors.</p> 
      <p>- If caught in a rockfall, roll into a ball to protect your head.</p>
      <p>- If near a stream or river, be aware of rising water and possible mudflows in low-lying areas. Move up-slope as quickly as possible.</p>
      <p>- Seek care for burns right away. Immediate care can be life saving.</p>
      <p>- If your eyes, nose, and throat become irritated from volcanic gases and fumes, move away from the area immediately. Your symptoms should go away when you are no longer in contact with the gases or fumes. If the symptoms continue, consult your doctor.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color ="success">After a Volcanic Eruption</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <p>
      <b>You can do many things to protect yourself and your family after a volcanic eruption:</b><br>
      - Pay attention to warnings, and obey instructions from local authorities. For example, stay indoors until local health officials tell you it is safe to go outside.<br>
      - Listen to local news updates for information about air quality, drinking water, and roads.<br>
      - Turn off all heating and air conditioning units and fans, and close windows, doors, and fireplace and woodstove dampers to help keep ash and gases from getting into your house.<br>
      - Exposure to ash can harm your health, particularly the respiratory (breathing) tract. To protect yourself while you are outdoors or while you are cleaning up ash that has gotten indoors, a disposable particulate respirator (also known as an “air purifying respirator”) may be considered.<br>
      - Stay away from ashfall areas, if possible. Avoid contact with ash as much as you can. Keep your skin covered to avoid irritation from contact with ash.<br>
      - Wear goggles to protect your eyes from ash.<br>
      - Photo of bottles of drinking water.<br>
      - Do not travel unless you have to. Driving in ash is hazardous to your health and your car. Driving will stir up more ash that can clog engines and stall vehicles.<br>
      - Replace disposable furnace filters or clean permanent furnace filters frequently.<br>
      - If your drinking water has ash in it, use another source of drinking water, such as purchased bottled water, until your water can be tested.<br>
      - Clear roofs of ash. Ash is very heavy and can cause buildings to collapse. Be very cautious when working on a roof. Ash can be slippery and make it easy to fall.<br><br>
    </p>
    <p>
      <b>Volcanic eruptions may result in the following:</b><br>
      - Earthquakes<br>
      - Floods<br>
      - landslides and Mudslides<br>
      - Power outages<br>
      - Wildfires<br>
    </p>
</ion-card-content>
</ion-card>