<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>LIGTAS</ion-title>
    <ion-img alt="logo" id="header_logo" height="40" margin-left="20" src="assets/images/logo.png"></ion-img>
    <ion-buttons slot="start">
      <ion-back-button text="Previous" icon="caret-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">Vehicular Accident</ion-card-title>
    </ion-card-header>
   
    <ion-card-content>
      <p>
        Vehicular accidents include car crashes, truck wrecks, and motorcycle crashes. 
        Regardless of the type of motor vehicle involved, an accident victim has a 
        legal right to pursue compensation from anyone who was at fault.
    </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">WHAT TO DO IF YOU ARE INVOLVED IN A HEHICULAR ACCIDENT</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Following any type of motor vehicle accident, there are a number of steps that
         you should take to protect your health and legal rights. If your car is still
          operable and traffic conditions allow, you should safely move your vehicle to the
           side of the road as soon as possible.<br><br>
    </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color ="success">SEEK MEDICAL ATTENTION RIGHT AWAY</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        If you have sustained any injuries - even if they appear to be minor - 
        you should seek immediate medical attention. Symptoms of many injuries, 
        including concussions and whiplash, may not be apparent right away, which makes 
        it even more important to see a doctor promptly. In addition to obtaining the 
        treatment that you need, visiting a doctor will also provide documentation of your 
        injuries that can be used as evidence in your case.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color ="success">DOCUMENTING THE SCENE</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        You should document every aspect of the scene of an accident. Most cell phones have 
        cameras that will allow you to obtain photographic evidence of the scene and other important information, including:<br>
        - Names, addresses, and phone numbers of all other drivers and passengers<br>
        - Driver’s license or other form of identification for all parties involved<br>
        - Copies of insurance cards for drivers involved in the collision, plus information regarding the type of coverage and policy limits<br>
        - License plate numbers for all vehicles involved<br>
        - Names and contact information for the responding police officers<br>
        - Contact information for any witnesses of the accident<br><br>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color ="success">CONTACT AN ATTORNEY</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        It is imperative that you contact an attorney immediately following an accident to ensure
        that you are legally protected. An experienced personal injury attorney can help you
         properly document the scene of the accident and preserve all relevant evidence.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color ="success"> TYPES OF MOTOR VEHICLE ACCIDENTS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        - Car accidents<br>
        - Motorcycle Accidents<br>
        - Truck Accidents<br>
        - Bicycle Accidents<br>
        - Bus Accidents<br>
        - Boat Accidents<br>
        - Passenger Van Accidents<br>
        - Pedestrian Accidents<br>
        - Atv Accidents<br>
        - DUI Accidents<br>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
