<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>LIGTAS</ion-title>
    <ion-img alt="logo" id="header_logo" height="40" margin-left="20" src="assets/images/logo.png"></ion-img>
    <ion-buttons slot="start">
      <ion-back-button text="Previous" icon="caret-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">Home Fires</ion-card-title>
    </ion-card-header>
   
    <ion-card-content>
      <p>
        A fire can become life-threatening in just two minutes. A residence can be engulfed in flames in five minutes.<br><br>
        - Fire is FAST! In less than 30 seconds a small flame can turn into a major fire. It only takes minutes for thick
         black smoke to fill a house or for it to be engulfed in flames.<br>
        - Fire is HOT! Heat is more threatening than flames. Room temperatures in a fire can be 100 degrees at floor 
        level and rise to 600 degrees at eye level. Inhaling this super-hot air will scorch your lungs and melt clothes to your skin.<br>
        - Fire is DARK! Fire starts bright, but quickly produces black smoke and complete darkness.<br>
        - Fire is DEADLY! Smoke and toxic gases kill more people than flames do. Fire produces poisonous gases that make you disoriented and drowsy.
    </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">Before a Fire</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Remember that every second counts in the event of a fire. Escape plans help you get out of your home quickly. Practice your home
         fire escape plan twice each year. Some tips to consider when preparing this plan include:
    </p>
    <p>
      - Find two ways to get out of each room in the event the primary way is blocked by fire or smoke.
    </p> 
    <p>
      - Make sure that windows are not stuck, screens can be taken out quickly and that security bars can be properly opened.
    </p>
    <p>
      - Practice feeling your way out of the house in the dark or with your eyes closed.
    </p>
    <p>
      - Teach children not to hide from firefighters.
    </p>
    <p>
      - If you use a walker or wheelchair, check all exits to be sure you can get through the doorways.
    </p>
    
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color ="success">During a Fire</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        - Drop down to the floor and crawl low, under any smoke to your exit. Heavy smoke and poisonous gases collect first along the ceiling.
      </p>
      <p>
        - Before opening a door, feel the doorknob and door. If either is hot, or if there is smoke coming around the door, leave the door closed and use your second way out.
      </p>
        <p>
          - If you open a door, open it slowly. Be ready to shut it quickly if heavy smoke or fire is present.
        </p>
        <p>
          - If you can’t get to someone needing assistance, leave the home and call 9-1-1 or the fire department. Tell the emergency operator where the person is located.
        </p>
        <p>
          - If pets are trapped inside your home, tell firefighters right away.
        </p>
        <p>
          - If you can’t get out, close the door and cover vents and cracks around doors with cloth or tape to keep smoke out. Call 9-1-1 or your fire department. 
          Say where you are and signal for help at the window with a light-colored cloth or a flashlight.
        </p>
        <p>
          - If your clothes catch fire, stop, drop and roll – stop immediately, drop to the ground and cover
           your face with your hands. Roll over and over or back and forth until the fire is out. If you or
            someone else cannot stop, drop and roll, smother the flames with a blanket or towel. Use cool water 
            to treat the burn immediately for three to five minutes. Cover with a clean, dry cloth. Get medical 
            help right away by calling 9-1-1 or the fire department.
        </p>
        
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color ="success">After a Fire</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <p>
      - Contact your local disaster relief service, such as The Red Cross, if you need temporary housing, food and medicines.
    </p>
    <p>
      - Check with the fire department to make sure your residence is safe to enter.
    </p>
    <p>
      - DO NOT attempt to reconnect utilities yourself. The fire department should make sure that utilities are either safe to use or are disconnected before they leave the site.
    </p>
    <p>
      - Conduct an inventory of damaged property and items. Do not throw away any damaged goods until after you make the inventory of your items.
    </p>
    <p>
      - Begin saving receipts for any money you spend related to fire loss. The receipts may be needed later by the insurance company and for verifying losses claimed on your income tax.
    </p>
    <p>
      - Notify your mortgage company of the fire.
    </p>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title color ="success">Fire Safety Tips</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  <p>
    - Make digital copies of valuable documents and records like birth certificates.
  </p>
  <p>
    - Sleep with your bedroom door closed.
  </p>
  <p>
    - Keep a fire extinguisher in your kitchen. Contact your local fire department for assistance on proper use and maintenance.
  </p>
  <p>
    - Consider installing an automatic fire sprinkler system in your residence.
  </p>
</ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title color ="success">Prevent Home Fires</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  <p>
    - Refer to link below: <br>
    <a href="https://shorturl.at/uwEY9">Prevent Home Fires</a>
  </p>
</ion-card-content>
</ion-card>
