<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>LIGTAS</ion-title>
    <ion-img alt="logo" id="header_logo" height="40" margin-left="20" src="assets/images/logo.png"></ion-img>
    <ion-buttons slot="start">
      <ion-back-button text="Back" icon="caret-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/vatar.png" class="avatar">
      </ion-avatar>
      <ion-label>
        <h1>Juan Dela Cruz</h1>
        <p>Poblacion East, <span> Alitagtag, Batangas</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <h1>My reports</h1>
<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-icon name="reader-outline" slot="start" color="success"></ion-icon>
      <ion-label>14-07-2023 12:37 PM</ion-label>
    </ion-item>
    <ion-item>
      <p>Accident here Poblaction West part sir</p>
    </ion-item>

  </ion-card-content>
</ion-card>

</ion-content>

