<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>LIGTAS</ion-title>
    <ion-img alt="logo" id="header_logo" height="40" margin-left="20" src="assets/images/logo.png"></ion-img>
    <ion-buttons slot="start">
      <ion-back-button text="Back" icon="caret-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <img src="../assets/images/Earthquake.png">
    <ion-button color="success" routerLink="/earthquake" expand="full">Earthquake</ion-button>
  </ion-card>

  <ion-card>
    <img src="../assets/images/Flood.png">
    <ion-button color="success" routerLink="/floods" expand="full">Floods</ion-button>
  </ion-card>

 <ion-card>
  <img src="../assets/images/Landslide.png">
  <ion-button color="success" routerLink="/landslide" expand="full">Landslide</ion-button>
 </ion-card>

 <ion-card>
  <img src="../assets/images/Home Fire.png">
  <ion-button color="success" routerLink="/homefires" expand="full">Home Fires</ion-button>
 </ion-card>

 <ion-card>
  <img src="../assets/images/Volcanic hazard.png">
  <ion-button color="success" routerLink="/volcanichazard" expand="full">Volcanic Hazard</ion-button>
 </ion-card>

 <ion-card>
  <img src="../assets/images/vehicularaccident.png">
  <ion-button color="success" routerLink="/vehicularaccident" expand="full">Vehicular Accidents</ion-button>
 </ion-card>
</ion-content>
