<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>LIGTAS</ion-title>
    <ion-img alt="logo" id="header_logo" height="40" margin-left="20" src="assets/images/logo.png"></ion-img>
    <ion-buttons slot="start">
      <ion-back-button text="Previous" icon="caret-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">Flood</ion-card-title>
    </ion-card-header>
   
    <ion-card-content>
      <p>
        An overflow of water onto normally dry land. The inundation of a normally dry area caused
        by rising water in an existing waterway, such as a river, stream, or drainage ditch. 
        Ponding of water at or near the point where the rain fell. Flooding is a longer term event 
        than flash flooding: it may last days or weeks.
    </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">Prepare Before a Flood</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        When preparing your family and property for natural disasters, you also need to consider your animals.
    </p>
    <p>
      - Check your home, contents and car insurance cover are in order.
    </p> 
    <p>
      - Identify where and how to turn off the electricity, gas and water mains.
    </p>
    <p>
      - Purchase emergency equipment such as containers to store drinking water, extra fuel supplies and hessian bags for sandbags.
    </p>
    <p>
      - Store all chemicals and poisons well above ground level.
    </p>
    <p>
      - Identify items that you will want to raise if floodwaters threaten your home.
    </p>
    <p>
      - Consider alternatives to carpet floor coverings.
    </p>
    <p>
      - Relocate electricity sockets and power points to well above floor level.
    </p>
    
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color ="success">Create an evacuation plan.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Never ignore an evacuation order authorities will direct you to leave if you are in 
        a low-lying area or within the greatest potential path of rising waters.

        Even if you haven’t been ordered to evacuate yet, it’s 
        always best to be prepared when a flood watch is issued. To prepare your home, 
        car, and loved ones for a potential evacuation:
      </p>
      <br>
      <p>
        - Fill your vehicle’s gas tank and make sure the emergency kit for your car is ready. 
        If no vehicle is available, make arrangements with friends or family for transportation.
      </p>
        <p>
          - Identify essential documents such as medical records, insurance card along with ID
           cards and put in waterproof material to carry with you during evacuation.
        </p>
        <p>
          - Fill your clean water containers.
        </p>
        <p>
          - If you have pet, identify a shelter designated for pets.
        </p>
        <p>
          - Review your emergency plans and supplies, checking to see if any items are missing.
        </p>
        <p>
          - Tune in the radio or television for weather updates. Listen for disaster sirens and warning signals.
        </p>
        <p>
          - Put livestock and family pets in a safe area. Due to food and sanitation requirements,
           emergency shelters cannot accept animals.
        </p>
        <p>
          - Adjust the thermostat on refrigerators and freezers to the coolest possible temperature.
        </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color ="success">Prepare a food and water supply.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <p>
      Make sure you and your family have enough safe food and water
       (for drinking, cooking, bathing, etc.) available in the event of a flood.
    </p>
    <p>
