<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>LIGTAS</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Back" icon="caret-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-card color="success">
    <ion-card-header>
      <ion-img alt="logo" id="header_logo" src="assets/images/logo.png" class="center"></ion-img>
    </ion-card-header>

    <ion-card-content>

        <h1>Forgot Your Password?</h1><br>
        <p>Enter your email below to retrieve your account</p><br>
      
      <ion-item>
        <ion-input type ="email" label="Enter your email" label-placement="floating" fill="outline" placeholder="Email"></ion-input>
      </ion-item> 
    </ion-card-content>
   
    <ion-button id="pres-alert">Send Password Reset Link</ion-button><br>
    <ion-alert trigger="pres-alert" header="Sent Successfully!"  message="Check your email"[buttons]="alertButtons"></ion-alert>
  </ion-card>

</ion-content>